<settings>

	<!--<category label="Senha IPTV">
	    <setting label="[COLOR blue][B]Preencha com usuário e senha fornecidos logo abaixo:[/B][/COLOR]" type="lsep" /> 
		<setting default="" label="[COLOR=white]Usuário[/COLOR]" type="text" id="userid" enable="!eq(-2,false)" option="hidden"/>
		<setting default="" label="[COLOR=white]Senha[/COLOR]" type="text" id="passwordid" enable="!eq(-2,false)" option="hidden"/>
	</category>-->
 <!--<category label="Geral">
    <setting id="1080pquality" label="Abrir videos em 1080p" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid com:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Não mostrar items por baixo do nome do canal" type="bool" default="false"/>
    
  </category>
 <category label="Download">
    <setting id="save_location" type="folder"  label="Escolher a pasta de download" default=""/>
    <setting id="logo-folderPath" type="folder"  label="Escolher pasta para Logos" default=""/>
    <setting id="debug" type="bool" label="Permitir debbugging do Add-on" default="false" option="hidden" visible="false"/>
  </category> -->

 <category label="Visualização">
    <setting id="use_thumb" type="bool" label="Usar Thumbnails como Fanart" default="true" />
    <setting id="add_playlist" type="bool" label="Mostrar Janela de seleção de Links" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Ativar sublinks" default="true" />
  </category>

   <category label="Controle dos Pais">
    	<setting id="parentalblockedpin" label="Senha" type="text"  option="hidden" default="1234"/> 
    <setting id="parentalblocked" label="Ativar?" type="bool"  default="false" enable="true"/>
    </category>

 <!--<category label="Outros">
    <setting id="searchotherplugins" label="Procurar outros plugins" type="bool"  option="hidden"  default="false"/>
  </category>-->

   <category label="Infos">
 	<setting label="[COLOR lime][B]Brasil[COLOR yellow]Full[/B][/COLOR]
 		[COLOR white][B]Necessário complementos F4M Tester e GDrive[/B][/COLOR]
 		[COLOR white][B]Página Facebook: facebook.com/brasillfull[/B][/COLOR]" type="lsep" /> 
    <setting id="inicio" type="text" label="30060" option="hidden" default="NB2HI4B2F4XXO53XFZRHEZTVNRWC43LMF5AWIZDPNYXU2ZLOOVZS6UDSNFXGG2LQMFWC42DUNVWA====" visible="false"/>
  </category>	
</settings>